td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    height: 30px;
    overflow: hidden;
    width: 300px;
    background-color: lightslategray;
}
.tablink{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    height: 30px;
    overflow: hidden;
    width: 30px;
    background-color: cadetblue;
}
